[submodule "simplespidphp"]
	path = simplespidphp
	url = https://github.com/dev4pa/simplespidphp
[submodule "public/spid-button"]
	path = public/spid-button
	url = git@github.com:lvps/spid-button.git
